.loginContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 470px;
  margin-top: 100px;
  padding-top: 50px;
  padding-bottom: 70px;
  border-radius: 5%;
  height: 420px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  background: white;
}

#login-pic {
  /* border-radius: 50%; */
}

#login-background {
  height: 100vh;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

.login-button {
  border: 0px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  width: 300px;
  font-weight: 1000;
  font-family: inherit;
  color: white;
  background-image: linear-gradient(to right, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  cursor: pointer;
  transition: border-color 0.25s;
}

.login-button:hover {
  border-color: #004d7a;
}

.login-button:focus,
.login-button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.login-input {
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  border-top: #051937;
  border-left: #051937;
  border-right: #051937;
  transition: background-color 0.25s;
}

.login-input:hover{
  background-color: rgb(255, 255, 255, 0.5);
  border-color: #a8eb12;
}

.login-input:focus,
.login-input:focus-visible {
  outline: 1px auto -webkit-focus-ring-color;
}

.login-input::placeholder {
  color: black;
  opacity: 0.5;
  font-style: italic;
}
