#header-container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    height: 50px;
    background-color: #76B900;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#header-container div p {
    font-size: 1.4rem;
}

.header-button {
    transition: .3s;
}

.header-button:hover {
    color: blue;
    cursor: pointer;
}
